<h1>Pizza Delivery</h1>
<h2>Anytime, Anywhere</h2>

<div class="blurb">We offer a convinent and cheap way to order pizza to your home! Lorem ipsum dolor sit amet consectetur adipisicing elit.
  Blanditiis est dolorum sapiente dolorem voluptates quod. Aut deserunt neque cupiditate nihil id, amet voluptatem. Provident
  tempore commodi impedit voluptates! Provident, consequatur? Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet
  accusantium vel dolorum recusandae. Aspernatur, rerum voluptatem! Placeat amet laudantium corrupti ducimus hic, commodi
  praesentium recusandae nam corporis quas, porro at.
</div>

<div class="ctaWrapper">
  <a class="cta green" href="account/create">Get started</a>
  <a class="cta blue" href="session/create">Login</a>
</div>